<!DOCTYPE html>
<html>

<!-- Load core scripts -->
<head>
  <title>Brainstaves</title>

  <script src="assets/vue"></script> <!-- Enable Vue -- https://unpkg.com/vue -->
  <script src="assets/sciris-js.js"></script> <!-- Enable Sciris -- https://unpkg.com/sciris-js/dist/sciris-js.js -->
  <script src="assets/opensheetmusicdisplay.min.js"></script> <!-- Enable OSMD -->
  <link rel="shortcut icon" href="/assets/favicon.ico" />  <!-- To avoid the favicon.ico 404 -->

  <!-- Start Bootstrap -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<link type="text/css" rel="stylesheet" href="assets/bootstrap.min.css" />
<link type="text/css" rel="stylesheet" href="assets/bootstrap-vue.min.css"/>
<script src="assets/polyfill.min.js"></script>
<script src="assets/vue.min.js"></script>
<script src="assets/bootstrap-vue.min.js"></script>
  <!-- End Bootstrap -->

  <style>
    .body {
      font-size: 0.5em;
      /*background-color: #ff0;*/
    }

    .background {
      /*background-color: #f00;*/
    }

    .app {
      justify-content: center;
      display: flex;
      /*min-width: 600px;*/
    }

    .main {
      display: block;
      /*background-color: #000;*/
    }

    .thescore {
      position: fixed;
      top: 0;
      /*background-color: #fff;*/
      max-width: 100vw;
      max-height: 100vh;
    }

    a:link    {color: #aaf;}
    a:visited {color: #aaf;}
    a:hover   {color: #33f;}
    a:active  {color: #ccf;}
  </style>

</head>


<!-- Define the layout -->
<body>
<div class="background">
  <div id="app" class="app">
    <!-- <p>The last key press was: {{keypress}}</p> -->
<!--     <div class="main">
      <div style="display:flex; padding:0 50px 0 50px">
        <div style="justify-content: flex-start; width:33%">
          <span style='color:#fff'>B R A I N S T A V E S</span>
        </div>
        <div style="justify-content: flex-end; width:33%; text-align: center;">
          <span style='color:#ccc'><i>status: {{ isrunning }}</i></span>
        </div>
        <div style="justify-content: flex-end; width:33%; text-align:right;">
          <span><b-btn v-on:click="start()">&zigrarr;</b-btn></span>
          <span><b-btn v-on:click="stop()">&Cross;</b-btn></span>
          <br><br>
        </div>
      </div> -->

      <!-- THE SCORE -->
      <div style="position: fixed; top: 5px; left: 5px; z-index: 100">
        <select v-model="thisinst">
            <option v-for='inst in allinsts'>
              {{ inst }}
            </option>
          </select>
        <br><br>
        <span><button v-on:click="start()">▶</button></span>
        <br><br>
        <span><button v-on:click="forward()">→</button></span>
        <br><br>
        <span><button v-on:click="backward()">←</button></span>
        <br><br>
        <span><button v-on:click="location.reload()">⟳</button></span>
        <br><br>
        <span><button v-on:click="stop()">■</button></span>
        <br><br>
        <div style="font-size: 0.8em; font-family: 'serif'; background-color: #eee; padding:3px;">
          <span>p:{{filenumber}}</span><br>
          <span>§:{{loaded}}</span><br>
          <span>R:{{isrunning}}</span>
        </div>
      </div>


      <div v-for="index in npages" :id="'score'+index" class="thescore" style="display: none">
        <img style='max-width: 100vw; max-height:100vh' :name="'score_img'+index">
      </div>

    </div>

  </div>
  <br>
</div>
</body>

<!-- Define the functionality -->
<script>
  var vm = new Vue({
    el: '#app',

    data() {
      return {
        version: 'Version information unavailable',
        isrunning: '×',
        interval: 1000,
        timer: null,
        div_id: 'score',
        score_div: null,
        filenames: [],
        filenumber: 1,
        keypress: 'n/a',
        loaded: 'n/a',
        allinsts: ['v1','v2','va','vc'],
        thisinst: 'v1',
        npages: 14, // +1 buffer, be careful!
      }
    },

    created() {
      sciris.rpc('get_version')
              .then(function (response) {
                vm.version = response.data
                vm.makefilenames()
                vm.showhidediv()
                document.onkeydown = function (e) {
                  e.stopImmediatePropagation();
                  // console.log('Hi, friend! The detected key was: ' + e.key)
                  vm.keypress = e.key
                  switch (e.key) {
                      case 'ArrowLeft':
                          e.preventDefault();
                          vm.backward();
                          break;
                      case 'ArrowRight':
                          e.preventDefault();
                          vm.forward();
                          break;
                      case 'ArrowUp':
                          e.preventDefault();
                          vm.backward();
                          break;
                      case 'ArrowDown':
                          e.preventDefault();
                          vm.forward();
                          break;
                      case 'UIKeyInputUpArrow':
                          e.preventDefault();
                          vm.backward();
                          break;
                      case 'UIKeyInputDownArrow':
                          e.preventDefault();
                          vm.forward();
                          break;
                  }
                };
              })
    },

    methods: {

      makefilenames() {
        vm.filenames = []
        for (var p=0; p<vm.npages; p++) {
          let filename = 'live/live-' + ('0' + (p+1)).slice(-2) + '.png?' + Math.random();
          console.log('HIIII ' + filename)
          vm.filenames.push(filename)
        }
      },

      reload_pages() {
        console.log('Checking status...')
        sciris.rpc('get_status')
        .then(function (response) {
          let status = response.data
          if (status !== vm.loaded) {
            console.log('  Reloading since ' + vm.loaded + ' != ' + status)
            vm.loaded = status
            vm.makefilenames()
            let scoreims = vm.getscoreims()
            for (var p=0; p<vm.npages; p++) {
                document.images[scoreims[p]].src = vm.filenames[p]
            }
          }
        })

      },

      start() {
        vm.isrunning = '✓'
        var initial_delay = 1*(1000 - new Date().getTime() % 1000);
        console.log('Waiting ' + initial_delay + ' ms to start on the dot of the next second')
        setTimeout(function() {
          console.log('Launched')
          vm.timer = setInterval(vm.reload_pages, vm.interval);
        }, initial_delay);
      },

      getdivs() {
        let scoredivs = []
        for (var p=1; p <= vm.npages; p++) {
          scoredivs.push('score' + p)
        }
        return scoredivs
      },

      getscoreims() {
        let scoreims = []
        for (var p=1; p <= vm.npages; p++) {
          scoreims.push('score_img' + p)
        }
        return scoreims
      },

      showhidediv() {
        let showdiv = "score" + vm.filenumber
        let scoredivs = vm.getdivs()
        for (var p=0; p < vm.npages; p++) {
          let divname = scoredivs[p]
          let thediv = document.getElementById(divname)
          if (thediv) { // WARNING FIX, not sure why index is off?
            if (divname === showdiv) {
              console.log('Showing: ' + divname)
              thediv.setAttribute("style", "display: block")
            } else {
              thediv.setAttribute("style", "display: none")
            }
          }
        }
      },

      forward() {
        vm.filenumber += 1
        if (vm.filenumber>vm.npages) {
          vm.filenumber = vm.npages
        }
        vm.showhidediv()
      },

      backward() {
        vm.filenumber -= 1
        if (vm.filenumber<1) {
          vm.filenumber = 1
        }
        vm.showhidediv()
      },

      stop() {
        console.log('Stopping refresh')
        vm.isrunning = '×'
        clearInterval(vm.timer);
      },

    }
  })
</script>

</html>
